<?xml version="1.0"?>
<config>
    <modules>
        <Hic_Integration>
            <version>1.0</version>
        </Hic_Integration>
    </modules>
    <global>
        <models>
            <integration>
                <class>Hic_Integration_Model</class>
            </integration>
        </models>
        <helpers>
            <integration>
                <class>Hic_Integration_Helper</class>
            </integration>
        </helpers>
        <blocks>
            <integration>
                <class>Hic_Integration_Block</class>
            </integration>
        </blocks>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <integration_intercept_response>
                        <class>integration/observer</class>
                        <method>interceptResponse</method>
                    </integration_intercept_response>
                </observers>
            </controller_action_postdispatch>
            <controller_action_layout_render_before>
                <observers>
                    <integration_check_response>
                        <class>integration/observer</class>
                        <method>checkResponseType</method>
                    </integration_check_response>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <layout>
            <updates>
                <integration>
                    <file>hic/hiconversion.xml</file>
                </integration>
            </updates>
        </layout>
    </frontend>
    <default>
        <integration>
            <settings>
                <enabled>1</enabled>
                <enabled_2>1</enabled_2>
                <site_id></site_id>
            </settings>
        </integration>
    </default>
</config>