<?xml version="1.0"?>
<config>
    <modules>
        <integration>
            <version>1.0</version>
        </integration>
    </modules>
    <global>
        <models>
            <integration>
                <class>Hic_Integration_Model</class>
            </integration>
        </models>
        <helpers>
            <integration>
                <class>Hic_Integration_Helper</class>
            </integration>
        </helpers>
        <blocks>
            <page>
                <rewrite>
                    <html_head>Hic_Integration_Block_Html_Head</html_head>
                </rewrite>
            </page>
            <integration>
                <class>Hic_Integration_Block</class>
            </integration>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <integration>
                    <file>hic/hiconversion.xml</file>
                </integration>
            </updates>
        </layout>
    </frontend>
    <default>
        <integration>
            <settings>
                <enabled>1</enabled>
                <enabled_2>1</enabled_2>
                <site_id></site_id>
            </settings>
        </integration>
    </default>
</config>